/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* FONTS */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v27-latin-regular.woff2") format("woff2"),
       url("../fonts/open-sans-v27-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/open-sans-v27-latin-700.woff2") format("woff2"),
       url("../fonts/open-sans-v27-latin-700.woff") format("woff"); 
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1120px; 
  padding: 0 20px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
  margin: 0;padding: 0;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 0;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-item {
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  
}
.header-item ~ .header-item {
  border-bottom: 3px solid transparent;
  /* margin-left: 16px; */
}


.header-link {
  color: #000000;
  padding: 16px;
  border-bottom: 3px solid transparent;

}

.header-link:hover {
  border-bottom: 3px solid #000000;
}

.header-link:active {
  color: #fff;
  background: rgba(25, 25, 25, 0.7);
}


.header-button {
  padding: 8px 13px;
  border: 3px solid transparent;
  background-color: #00BAFC;
  color: white;
  border-radius: 5px;
  margin-left: 24px;
}

.header-button:hover {
  border: 3px solid #00BAFC ;
  background-color: #ffffff;
  color: #00BAFC;
}

.header-button:active {
  border: 3px solid rgba(0, 186, 252, 0.6) ;
  background: rgba(0, 186, 252, 0.6);
  color: #fff;
}

/*SITE HERO*/
.hero-wrapper {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 padding: 80px 0;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
}

.hero-box {
 width: 470px;
}

.hero-topic {
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
  margin: 0;
}

.hero-text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-top: 16px;
}

.hero-link {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 8px 16px;
  background-color: #00BAFC;
  border-radius: 5px;
  margin-top: 16px;
} 

.hero-link:hover {
  opacity: 0.8;
}


.hero-link:active {
  opacity: 0.6;
}

.hero-iframe {
  width: 458px;
  height: 258px;
  border-radius: 5px;
  border: none;
}

/*SITE SERVICE*/
.service-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin: 0;padding: 0;
  padding-top: 56px;
  margin-bottom: 16px;
}
.service-text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0;padding: 0;
  width: 719px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 48px;
}

.service-item {
  width: 320px;
  /* height: 260px; */
  border-radius: 5px;
  padding: 24px 56px;
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.service-item:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.service-topic {
  margin: 0;padding: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
}

.service-word {
  margin: 0;padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  
}

.service-box {
  display: block;
  text-align: center;
}

.service-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 8px 16px;
  background-color: #00BAFC;
  border: none;
  border-radius: 5px;
  margin-right: 16px;
  margin-bottom: 56px;
}

.services-link {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #00BAFC;
}
/*WORKS*/
.works-topic {
  margin: 0;padding: 0;
  padding-top: 56px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.works-text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  width: 719px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.works-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 832px;
  height: 278px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.works-image {
  width: 300px;
  height: 258px;
  margin-right: 32px;
}

.works-title {
  margin: 0;padding: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
}

.wroks-secound {
  margin-bottom: 44px;
}

.works-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 55px;
}

/* TO ORDER */
.order-section {
  background-color: #00BAFC;
  padding-bottom: 64px;
}

.order-title {
  margin: 0;padding: 0;
  padding-top: 56px;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.order-text {
  color: #fff;
}

.order-form {
  width: 348px;height: 304px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 24px;
}

.order-input {
  display: block;
  padding: 16px;
  width: 300px;
  height: 56px;
  margin-bottom: 16px;
}

.order-button {
  display: block;
  margin: 0 auto;
}


footer {
  background-color: #191919;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 56px 0px;
}
.footer-content {
  width: 320px;
}
.footer-logo {
  display: block;
}
.footer-content-text {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.site-pages {
  margin-left: 100px;
  text-align: left;
}
.site-pages-heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 0;
}
.site-pages-list {
  list-style-type: none;
  padding: 0;
}
.site-pages-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.site-pages-link:hover {
  color: #00bafc;
}
.site-pages-link:active {
  color: #00bafc;
  opacity: 0.6;
}
.internet {
  margin-left: 90px;
}
.internet-heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  margin: 0;
  margin-bottom: 16px;
  color: #ffffff;
}
.internet-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.internet-item {
  margin: 4px 0px;
}
.internet-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.internet-link:hover {
  color: #00bafc;
}
.internet-link:active {
  color: #00bafc;
  opacity: 0.6;
}
.internet-item-span {
  margin-left: 8px;
}

                                              /* SERVICE  */
.service {
  padding-top: 72px;
}
.service-heading {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  line-height: 130%;
  margin: 0px;
  color: #000000;
}
.service-text {
  width: 880px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 72px;
}
.item-content-heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  margin: 0;
  margin-bottom: 16px;
}
.item-content-text {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 16px;
}
.content-list {
  margin: 0;
  padding: 0;
  padding-left: 17px;
  padding-bottom: 16px;
}
.content-item {
  margin-bottom: 8px;
}
.content-item-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}